{% extends 'base.html' %}

{% load staticfiles %}

{% block body_block %}
			<h1> Sign Up for FuelApp</h1>
			{% if registered %}
				<span> Thanks for registering! </span>
				<a href="{% url 'index' %}"> Go Home </a>
			{% else %}
				<span> Register here! </span>
				<form action="{% url 'register' %}" method="post" id="user_form" accept-charset="utf-8" enctype="multipart/form-data">
					{% csrf_token %}
					{{user_form.as_p}}
					{{profile_form.as_p}}

					<p><input type="submit" value="Register"></p>
				</form>
			{% endif %}
{% endblock %}
